/* Cookie Conjectur Game Core Styles */
/* Coded by: Michael Ryan */

/* --- SITE WIDE STYLES */
:root {
    --site-theme-color: #7c3b0e;
    --site-font-color:  #282828;
}

* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--site-font-color);
    margin: 0;
    width: 100%;
    height: 100%;
}

/* --- WRAPPER */
.wrapper {
    width: 100%;
    min-height: 100%;
    margin-bottom: -150px;
}

/* --- MAIN HEADER */
.header-main {
    background-color: var(--site-theme-color);
    background-image: url("../imgs/header_wavey_bg.png");
    background-repeat: repeat-x;
    background-position: bottom;
    height: 115px;
}

.header-main .site-logo {
    padding-left: 100px;
    padding-top: 20px;
}

/* --- MAIN CONTENT */
.content-cookie-container {
    width: 100%;
    position: relative;
    background-color: #ebebeb;
}

.content-cookie-body {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.content-cookie-details {
    padding-right: 25px;
    margin: 0 auto;
    text-align: right;
    width: 640px;
}

#content-solution-container {
    width: 640px;
    background-color: var(--site-theme-color);
    height: 60px;
    border-radius: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.content-solution-letter-cell {
    position: relative;
    width: 30px;
    height: 60px;
    font-size: 35px;
    color: white;
    text-align: center;
    line-height: 50px;
}

.content-solution-letter-underline {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 25px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
}

/* --- LETTERS USED */
.content-letters-used-container {
    width: 640px;
    height: 200px;
    margin: 0 auto;
    margin-top: 35px;
    padding: 5px 25px 5px 25px;
}

.content-letters-used {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #cdcdcd;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
    margin-right: 20px;
    padding-left: 1px; /* Make letter weight feel more centered*/
    text-align: center;
    line-height: 40px;
}

/* Load new letters invisible */
span[class^='letter-'] {
    display: none;
}

/* --- FOOTER */
.footer, .footerPush {
    height: 150px;
}

.footer {
    background-image: url("../imgs/footer-bg.png");
    background-repeat: repeat-x;
}

/* --- ANIMATE CSS ADJUSTMENT */
.rubberBand {
    -webkit-animation: rubberBand 0.5s; /* Safari 4+ */
    -moz-animation:    rubberBand 0.5s; /* Fx 5+ */
    -o-animation:      rubberBand 0.5s; /* Opera 12+ */
    animation:         rubberBand 0.5s; /* IE 10+, Fx 29+ */
  }